<footer
  class="footer footer-center block py-7 text-sm text-base-content opacity-90"
>
  <div class="inline">
    Built by
    <a
      class="font-semibold hover:underline"
      href="https://github.com/area44/astro-audionaut"
      target="_blank"
      rel="noopener noreferrer"
    >
      AREA44
    </a>
  </div>
</footer>
