<footer class="footer footer-center block pb-7 pt-7">
  <div class="inline opacity-50">
    built by
    <a href="https://github.com/AREA44" target="_blank"> AREA44</a>
     | powered by
    <a href="https://github.com/manuelernestog/astropod" target="_blank">
      Astropod
    </a>
  </div>
</footer>
<style></style>
