<footer class="footer footer-center block pt-7 pb-7">
  <div class="inline opacity-90">
    built by
    <a
      class="font-semibold hover:underline"
      href="https://github.com/AREA44"
      target="_blank"
    >
      AREA44</a
    >
    | powered by
    <a
      class="font-semibold hover:underline"
      href="https://github.com/manuelernestog/astropod"
      target="_blank"
    >
      Astropod
    </a>
  </div>
</footer>
<style></style>
