---
import { Image } from 'astro:assets'
const { title, subtitle } = Astro.props

import banner from '@/assets/banner.png'
import avatar from '@/assets/avatar.jpg'
---

<div class="card bg-base-100 w-full min-w-full shadow-md md:pb-3">
  <div class="mt-5 aspect-[3/1] w-full">
    <div class="relative inline-block w-full">
      <Image
        src={banner}
        alt="Banner"
        class="aspect-[3/1] w-full object-cover"
      />
      <div
        class="absolute top-0 left-0 h-full w-full items-center justify-center bg-gradient-to-t from-gray-900 to-transparent to-50%"
      >
        <div class="absolute bottom-0 left-32 flex flex-col px-3 md:left-52">
          <p class="mb-1 text-xs font-medium text-white">{subtitle}</p>
          <h1 class="mb-3 text-lg font-black text-white md:text-4xl">
            {title}
          </h1>
        </div>
      </div>
    </div>
    <Image
      src={avatar}
      alt="Avatar"
      class="border-base-100 relative z-10 mx-6 -mt-28 h-24 w-24 rounded-lg border-4 md:mx-11 md:-mt-28 md:h-40 md:w-40"
    />
  </div>
</div>
