---
import { Image } from "astro:assets";

const { title = "Astro Audionaut", subtitle = "Created by AREA44" } =
  Astro.props;

import avatar from "@/assets/avatar.png";
import banner from "@/assets/banner.png";
---

<header
  role="banner"
  class="card bg-base-100 w-full min-w-full shadow-md md:pb-3"
>
  <div class="mt-5 aspect-[3/1] w-full">
    <div class="relative w-full">
      <Image
        src={banner}
        alt="Header banner"
        class="aspect-[3/1] w-full object-cover"
      />
      <div
        class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-gray-900/80 to-transparent"
      >
        <div
          class="absolute bottom-0 left-32 md:left-52 flex flex-col px-3 pb-4 text-white"
        >
          <p class="mb-1 text-xs font-medium">{subtitle}</p>
          <h1 class="mb-3 text-lg font-black md:text-4xl">{title}</h1>
        </div>
      </div>
    </div>
    <Image
      src={avatar}
      alt="Profile avatar"
      class="border-base-100 relative z-10 mx-6 -mt-28 h-24 w-24 rounded-lg border-4 md:mx-11 md:-mt-28 md:h-40 md:w-40"
    />
  </div>
</header>
