---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import HeadSEO from "@/components/HeadSEO.astro";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <HeadSEO />
  </head>
  <body class="bg-base-200 h-full">
    <div class="container mx-auto lg:max-w-[960px]">
      <div class="w-full md:flex md:justify-center">
        <main class="-mt-5 w-full">
          <Header title="Astro Audionaut" subtitle="Created by AREA44" />
          <slot />
        </main>
      </div>
      <Footer />
    </div>
  </body>
</html>
